<%-include("./partials/head")%>
<%-include("./partials/navbar3")%>
<!-- carga de css -->
<%-include("./partials/closeHead")%>
<div class="w-75 m-auto contenedor mt-3">
    <h1>Bienvenido <%=nombre%></h1>
    <a href="/agregarPelicula" class="btn btn-dark">Agregar Peliculas</a>
    <a href="/usuarios" class="btn btn-dark">Administrar Usuarios</a>
    <a href="/home" class="btn btn-dark">Adminsitrar Peliculas</a>
   <!--  <%-include("./partials/logoOut")%>    -->                                                    
</div>
<!-- carga de js -->

<%-include("./partials/foot")%>