<%-include("./partials/head")%>

<%-include("./partials/head")%>
<%if(usuario){%>
    <% if(usuario.rol == 1){ %>
        <%-include("./partials/navbar3")%>
    <% }else{ %>
        <%-include("./partials/navbar2")%>
    <%} %>
   
    <%}else{%>
        <%-include("./partials/navbar")%>
    <%}%>

<!-- carga de css -->
<%-include("./partials/closeHead")%>
    <h1 style="color: white;">Bienvenido <%=usuario.nombre %> </h1>
    <div class="w-75 m-auto contenedor mt-3">
        <div class="row row-cols-auto">
            <% for(i=0;i< calificacion.length; i++){ %>
                <div class="col" style="margin-bottom: 20px;">
                        <div class="card-body">
                          <a href="/pelicula/<%=calificacion[i].idPelicula %> "> <img src="<%= calificacion[i].ruta%>" alt="" height="300px" width="211px"></a>
                          <h5 style="width: 213px; height: 50px; background-color: red"><%= calificacion[i].nombre%></h5>
                          <h5 style="color: white;"><%= calificacion[i].calificacion == 1 ? "Me gusta" : "Sin clasificar" %></h5>
                        </div>
                </div>
            <% } %>
        </div>                                                    
    </div>

 <%-include("./partials/foot")%>