<%-include("./partials/head")%>

<%-include("./partials/navbarAdmin")%>
<!-- carga de css -->
<%-include("./partials/closeHead")%>
<div class="usuarios">
  <div class="tablaUsuarios mt-5 mb-5 p-3">
    <h1>Usuarios</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Email</th>
          <th scope="col">Username</th>
          <th scope="col">Rol</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% for(i=0; i<usuarios.length;i++){ %>
    
          <div class=" table table-striped " style="margin-bottom: 20px; ">
            <tr>
              <td><%= usuarios[i].name %></td>
              <td><%= usuarios[i].email %></td>
              <td><%= usuarios[i].username %></td>
              <td><%= usuarios[i].idRol == 2 ? "Usuario" : "Administrador" %></td>
              <td><button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" name="<%= usuarios[i].email %>" class="btnEliminar btn btn-success">Eliminar</i></button>
                <button  type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" name="<%= usuarios[i].email %>" class="btnEditar btn btn-success">Editar</button></td>
            </tr>
                 
          </div>
            <% } %>
      </tbody>
    </table>
    
  </div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary cerrar" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary cambios">Guardar cambios</button> 
      </div> 
    </div>
  </div>
</div>
</div>
<script src="js/usuarios.js" ></script>
<script src="js/putUser.js" ></script> 
<%-include("./partials/foot")%>